<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RZA__Riget_Zoo_Adventures_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RZA__Riget_Zoo_Adventures_.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="position: fixed; width: 100%; ">
        <nav id="navbar" class="w-100 navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow m-0 p-0" style="display: flex;">
            <div id="navbar" class="container-fluid p-0 m-0">
                <img width="200px" height="125px" style="left: 40%;" src ="~/images/logo.png" alt="Logo" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul style="font-size: 25px; display: flex; position: relative; left: 10%; color: #3F440F; text-decoration: underline;" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ExplorePage">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TourPackaging">Tour&Packaging</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>


    
    <footer class="border-top footer text-muted" style="display: flex;">
        <div style="justify-self: start;">
            <img height="50px" width="100px" src="~/images/footer-logo.png" alt="Alternate Text" />
        </div>
        <div>
            <div id="footerBody" style="display: flex; gap: 200px; font-size: 16px; justify-self: center; position: relative;" >
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">FAQs</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <br />
        <div class="container" style="bottom: 0;">
            &copy; 2025 - RZA__Riget_Zoo_Adventures_ - <a asp-area="" asp-controller="Home" asp-action="HomePage">RZA</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>