@{
    ViewData["Title"] = "Explore";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div id="explore_body">
        <div id="exploreHeader">
            <p>Explore</p>
        </div>
        <hr />
        <div id="exploreTexts">
            <div id="exploreText1">
                <p>
                    Come and join us in the <br /> exploration of the safari <br /> wildlife and connect <br /> with the animals
                </p>
            </div>
            <br />
            <br />
            <div id="exploreText2">
                <p>
                    We have all sorts of <br /> ways to keep you <br /> entertained and <br /> learning new things <br /> about the safari wildlife.
                </p>
            </div>
        </div>
        <div id="exploreEnd">
            <p>
                <h1>At RZA,</h1>Visitors can embark on a thrilling safari adventure and witness a diverse range of wildlife from around the globe, including majestic lions, gentle giraffes, and agile monkeys. The safari experience offers a unique opportunity to get up close and personal with these incredible animals, observing their natural behaviors and habitats. As explorers navigate through the zoo's sprawling savannas and forests, they can discover the fascinating world of animals and learn about conservation efforts to protect these amazing creatures and their ecosystems.
            </p>
        </div>
    </div>
    <div id="exploreInfo">
        <br />
        <h1 class="text-center">What do we have to offer ?</h1>
        <hr />
        <br />
        <br />
        <div id="exploreInfo1">
            <div id="exploreInfo_1a">
                <h4>Come see the beautiful sites and animals the safari has to offer</h4>
                <img width="350px" height="350px" src="~/images/explorePageAnimals.jpg" alt="Alternate Text" />
            </div>
            <div id="exploreInfo_1b">
                <h4>Come see the beautiful sites and animals the safari has to offer</h4>
                <img width="350px" height="350px" src="~/images/glen-michaelsen-4ehsTwKFULI-unsplash.jpg" alt="Alternate Text" />
            </div>
        </div>
    </div>
</body>
</html>