@{
    ViewData["Title"] = "Landing Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div>
    <div id="lp_parent">
        <div id="lp_child1">
            <button><a class="nav-link text-dark" asp-area="" asp-controller="HomePage" asp-action="Index">Visit Our Site</a></button>
        </div>
    </div>
</div>