@{
    ViewData["Title"] = "Landing Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

@* <style> *@
@*     section{ *@
@*         padding-top: 100px; *@
@*     } *@
@* </style> *@

<div>
    <div id="lp_parent">

        @* buton link takes user to the homepage from landing page *@
        <div id="lp_child1">
            <button><a class="nav-link text-dark" asp-area="" asp-controller="HomePage" asp-action="Index">Visit Our Site</a></button>
        </div>

        @**@

    </div>
</div>