@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div style="background-color: white; opacity: 75%; border-radius: 50px; padding: 50px; box-shadow: 10px 10px 5px black;" class="col-md-4">
        <h1 style=" color: #817D44;">Log In</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input style="opacity: 50%; " asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label style="color: black;" asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input style="opacity: 50%; " asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label style="color: black;" asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label style="color: black;" asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button style="background: #817D44; font-size: 25px; font-family: 'Arial Rounded MT'; font-weight: bolder;" id="login-submit" type="submit" class="w-100 btn btn-lg ">Log in</button>
                </div>
                <div>
                    <p class="text-center pt-5">
                        <a style=" color: black;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="text-center">
                        <a style=" color: black;" asp-page="./Register" >Register as a new user</a>
                    </p>
                    <p class="text-center">
                        <a style=" color: black;" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
