@{

    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div id="hp_parent">
    <div id="hp_child1">
        <div id="main_text">
            <p id="et">
                EXPLORE THE
            </p>
            <p id="s">
                SAFARI
            </p>
            <p id="w">
                WILDLIFE
            </p>
        </div>
    </div>
    <div id="hp_child2">
        <div id="zoo_site">
            <div id="zoo_site_text">
                <h1 class="text-center w-50">Zoo Site</h1>
                <h4 class="text-center w-50">Let Us Show You Around</h4>
                <br />
                <hr />
                <br />
                <p class="text-start">
                    Facilisis elit iriure congue sit amet facilisis dignissim erat dolor laoreet accumsan te eros duo clita vero lorem consequat rebum takimata amet magna gubergren labore gubergren ut sed elit et dolore adipiscing quod stet minim sed illum diam no ipsum duo dolore dignissim vero kasd invidunt amet ut lorem enim nonumy et rebum eos ea illum amet sit ipsum ut kasd sit invidunt sanctus stet eirmod et magna kasd vero lorem dolor sit duis aliquyam vero sed dolore minim ipsum kasd at dolore dolores dolore diam dignissim accusam dolore sit diam nulla clita suscipit tempor eirmod sit stet erat nulla odio molestie invidunt takimata dolor justo ut consequat sadipscing tincidunt eum sed takimata sit at cum esse justo sea au
                </p>
            </div>
            <div id="zoo_site_img">
                <img height="600px" width="600px" src="~/images/homepage-zoo-site-map.jpg" alt="Alternate Text" />
            </div>
        </div>
        <div>
            <div id="exploreLinkText">
                <h4>Head to our explore page</h4>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>